body {
  padding: 20px;
  font-family: monospace;
}

h1 {
  color: #ffffff;
  background-color: #000000;
  text-align: center;
}

h2 {
  text-align: center;
}

ul {
  border: 2px solid #000000;
  border-radius: 20px;
}

li {
  font-size: 1.5em;
  margin: 20px;
}

a {
  background-color: #777fff;
  padding: 7px;
  border-radius: 5px;
  color: #f10707;
}

span {
  color: #4aff00;
  text-decoration: underline;
  font-weight: bold;
}

img {
	width: 100%;
}

.top {
  height: 10%;
  border-radius: 10px;
  padding: 10px;
  background-color: #0bf40e;
}

.content {
  background-color: #990afc;
  border-radius: 20px;
}
